<h1>Listing Purchase End Products</h1>

<table>
  <tr>
    <th>Purchase Date</th>
    <th>Vendor</th>
    <th>Product</th>
    <th>Price/U</th>
    <th>Cost/U</th>
    <th>Saled</th>
    <th>Left</th>
    <th></th>
  </tr>

<% for purchase_order_item in @purchase_order_items %>
  <tr>
    <td><%= link_to purchase_order_item.purchase_order.purchased_at, purchase_order_item.purchase_order %></td>
    <td><%=h purchase_order_item.purchase_order.vendor.abbr_name %></td>
    <td><%= link_to purchase_order_item.vendor_product.title, purchase_order_item.vendor_product %></td>
    <td><%=h number_to_currency(purchase_order_item.unit_price,
                                :unit => purchase_order_item.purchase_order.vendor.currency.symbol) %>
    </td>
    <td><%=h number_to_currency(purchase_order_item.unit_cost, :unit => "￥") %></td>
    <td><%=h purchase_order_item.saled_quantity %></td>
    <td><%=h purchase_order_item.avail_quantity %></td>
    <td><%= link_to 'details...', purchase_order_item %></td>
  </tr>
<% end %>
</table>
