<p>
  <b>Purchase Date:</b>
  <%= link_to @purchase_order_item.purchase_order.purchased_at,
              @purchase_order_item.purchase_order %>
</p>

<p>
  <b>Vendor Product:</b>
  <%= link_to @purchase_order_item.vendor_product.title,
              @purchase_order_item.vendor_product %>
</p>

<p>
  <b>Unit Price:</b>
  <%=h number_to_currency(@purchase_order_item.unit_price,
                          :unit => @purchase_order_item.vendor_product.vendor.currency.symbol) %>
</p>

<p>
  <b>Unit Cost:</b>
  <%=h number_to_cny(@purchase_order_item.unit_cost) %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @purchase_order_item.quantity %>
</p>

<b>Sale Log:</b>
<ul>
  <% @sale_order_items.each do |item| %>
    <li><%=h item.sale_order.customer.name %> bought
        <%=h item.quantity %> on
        <%=h item.sale_order.saled_at %> at
        <%=h number_to_cny(item.unit_price) %>
     </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_purchase_order_item_path(@purchase_order_item) %> |
<%= link_to 'Back', purchase_order_items_path %>
