<p>
  <b>Sale order:</b>
  <%=h @sale_order_item.sale_order_id %>
</p>

<p>
  <b>Purchase Order Item:</b>
  <%=h @sale_order_item.purchase_order_item_id %>
</p>

<p>
  <b>Cost:</b>
  <%=h @sale_order_item.unit_cost %>
</p>

<p>
  <b>Price:</b>
  <%=h @sale_order_item.unit_price %>
</p>


<%= link_to 'Edit', edit_sale_order_item_path(@sale_order_item) %> |
<%= link_to 'Back', sale_order_items_path %>
