<h1>New purchase_order</h1>

<% form_for(@purchase_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :vendor_id %><br />
    <%= @vendor.full_name %><br />
    <%= f.hidden_field :vendor_id %>
  </p>
  <p>
    <%= f.label :purchase_date %><br />
    <%= f.date_select :purchase_date %>
  </p>
  <p>
    <%= f.label :arrival_date %><br />
    <%= f.date_select :arrival_date %>
  </p>
  <p>
    <%= f.label :postage %><br />
    <%= f.text_field :postage %>
  </p>
  <p>
    <%= f.label :total_cost %><br />
    <%= f.text_field :total_cost %>
  </p>

  <div id="store_items">
    <%= render :partial => "purchase_order_store_item",
               :collection => @purchase_order.store_items,
               :locals => { :vendor_products => @vendor_products } %>
  </div>

  <p>
    <%= add_store_item_link "Add a product", @vendor_products %>
  </p>

  <p>
    <%= f.submit "Create a Purchase Order" %>
  </p>

<% end %>

<%= link_to 'Back', purchase_orders_path %>
