<h1>New purchase_order</h1>

<% form_for(@purchase_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :vendor_id %>: <%= @purchase_order.vendor.full_name %><br />
  </p>
  <p>
    <%= f.label :purchase_date %><br />
    <%= f.date_select :purchase_date %>
  </p>
  <p>
    <%= f.label :arrival_date %><br />
    <%= f.date_select :arrival_date %>
  </p>
  <p>
    <%= f.label :postage %><br />
    <%= f.text_field :postage %>
  </p>
  <p>
    <%= f.label :total_cost %><br />
    <%= f.text_field :total_cost %>
  </p>

  <ul>
  <% @vendor_products.each do | vendor_product, quantity | %>
    <li><%=h vendor_product.title %>: <%= quantity %>
  <% end %>
  </ul>

  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>

<%= link_to 'Back', purchase_orders_path %>
