<% form_for(@vendor_product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 75 %>
  </p>
  <p>
    <%= f.label :vendor_id %><br />
    <%= f.collection_select :vendor_id, @vendors, :id, :full_name %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %> ml
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :measuring_unit_id %><br />
    <%= f.collection_select :measuring_unit_id, @measuring_units, :id, :full_name %>
  </p>
  <p>
    <%= f.label :material_amount %><br />
    <%= f.text_field :material_amount %>
  </p>
  <p>
    <%= f.check_box :active %><%= f.label :active, "The product is active" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
