<% form_for(@vendor_product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 75 %>
  </p>
  <p>
    <%= f.label :vendor_id %><br />
    <%= f.collection_select :vendor_id, @vendors, :id, :full_name %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :capacity %><br />
    4(2ml) 5(3ml) 7(5ml) 9(9ml) 10(10ml) 15(20ml) 20(25ml) 25(30ml) 35(50ml,55ml) 40(60ml) 50(100ml,125ml) 55(150ml) 60(200ml) 100(500ml) 150(1000ml)
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :measuring_unit_id %><br />
    <%= f.collection_select :measuring_unit_id, @measuring_units, :id, :full_name %>
  </p>
  <p>
    <%= f.label :material_amount %><br />
    <%= f.text_field :material_amount %>
  </p>
  <p>
    <%= f.check_box :active %><%= f.label :active, "The product is active" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
