<h1>Listing Vendor Products</h1>

<% for vendor in @vendors %>

<h2><%= vendor.full_name %></h2>
<table>
  <tr>
    <th>Title</th>
    <th>Capacity</th>
    <th>Price</th>
    <th>Active</th>
    <th>Description</th>
    <th colspan=3>Operations</th>
  </tr>

<% for vendor_product in vendor.vendor_products %>
  <tr>
    <td><%=h vendor_product.title %></td>
    <td><%=h vendor_product.capacity %></td>
    <td><%=h number_to_currency(vendor_product.price, :unit => vendor_product.vendor.currency.symbol) %></td>
    <td><%=h vendor_product.active? ? "YES" : "NO" %></td>
    <td><%=h vendor_product.description %></td>
    <td><%= link_to 'Show', vendor_product %></td>
    <td><%= link_to 'Edit', edit_vendor_product_path(vendor_product) %></td>
    <td><%= link_to 'Destroy', vendor_product, :confirm => 'Are you sure?',
                                               :method => :delete %></td>
  </tr>
<% end %>
</table>

<% end %>

<br />

<%= link_to 'New vendor_product', new_vendor_product_path %>
