<h1>New vendor_product</h1>

<% form_for(@vendor_product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :vendor_id %><br />
    <%= f.collection_select :vendor_id, @vendors, :id, :full_name %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', vendor_products_path %>
