<p>
  <b>Title:</b>
  <%=h @vendor_product.title %>
</p>

<p>
  <b>Vendor:</b>
  <%=h @vendor_product.vendor.full_name %>
</p>

<p>
  <b>Capacity:</b>
  <% if @vendor_product.capacity.nil? %>
    <%=h "NA" %>
  <% else %>
    <%=h "#{@vendor_product.capacity} ml" %>
  <% end %>
</p>

<p>
  <b>Price:</b>
  <%=h @vendor_product.price %> <%=h @vendor_product.vendor.currency.symbol %>
</p>

<p>
  <b>Active:</b>
  <%=h @vendor_product.active? ? "YES" : "NO" %>
</p>

<%= link_to 'Edit', edit_vendor_product_path(@vendor_product) %> |
<%= link_to 'Back', vendor_products_path %>
