<h1>Listing store_items</h1>

<table>
  <tr>
    <th>Purchase order</th>
    <th>Vendor product</th>
    <th>Cost per unit</th>
    <th>Cost per ml</th>
    <th>Cost per drop</th>
    <th>Quantity</th>
    <th>Sale quantity</th>
    <th>Use quantity</th>
    <th>Saled quantity</th>
    <th>Used quantity</th>
    <th>Archived quantity</th>
  </tr>

<% for store_item in @store_items %>
  <tr>
    <td><%=h store_item.purchase_order_id %></td>
    <td><%=h store_item.vendor_product_id %></td>
    <td><%=h store_item.cost_per_unit %></td>
    <td><%=h store_item.cost_per_ml %></td>
    <td><%=h store_item.cost_per_drop %></td>
    <td><%=h store_item.quantity %></td>
    <td><%=h store_item.sale_quantity %></td>
    <td><%=h store_item.use_quantity %></td>
    <td><%=h store_item.saled_quantity %></td>
    <td><%=h store_item.used_quantity %></td>
    <td><%=h store_item.archived_quantity %></td>
    <td><%= link_to 'Show', store_item %></td>
    <td><%= link_to 'Edit', edit_store_item_path(store_item) %></td>
    <td><%= link_to 'Destroy', store_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New store_item', new_store_item_path %>
