<p>
  <b>Purchase order:</b>
  <%=h @store_item.purchase_order_id %>
</p>

<p>
  <b>Vendor product:</b>
  <%=h @store_item.vendor_product_id %>
</p>

<p>
  <b>Unit Price:</b>
  <%=h @store_item.unit_price %>
</p>

<p>
  <b>Cost per unit:</b>
  <%=h @store_item.cost_per_unit %>
</p>

<p>
  <b>Cost per ml:</b>
  <%=h @store_item.cost_per_ml %>
</p>

<p>
  <b>Cost per drop:</b>
  <%=h @store_item.cost_per_drop %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @store_item.quantity %>
</p>

<p>
  <b>Saled quantity:</b>
  <%=h @store_item.saled_quantity %>
</p>

<p>
  <b>Use quantity:</b>
  <%=h @store_item.use_quantity %>
</p>

<p>
  <b>Used quantity:</b>
  <%=h @store_item.used_quantity %>
</p>

<p>
  <b>Archived quantity:</b>
  <%=h @store_item.archived_quantity %>
</p>


<%= link_to 'Edit', edit_store_item_path(@store_item) %> |
<%= link_to 'Back', store_items_path %>
