<p>
  <b>Purchase order:</b>
  <%=h @store_item.purchase_order_id %>
</p>

<p>
  <b>Buying price:</b>
  <%=h @store_item.buying_price %>
</p>

<p>
  <b>Cost:</b>
  <%=h @store_item.cost %>
</p>

<p>
  <b>Cost per ml:</b>
  <%=h @store_item.cost_per_ml %>
</p>

<p>
  <b>Cost per drop:</b>
  <%=h @store_item.cost_per_drop %>
</p>


<%= link_to 'Edit', edit_store_item_path(@store_item) %> |
<%= link_to 'Back', store_items_path %>
