<h1>Listing Store Products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Capacity</th>
    <th>Count</th>
    <th>AVG Cost</th>
    <th>AVG Price</th>
    <th>AVG Profit</th>
    <th>Total Profit</th>
  </tr>

<% for store_product in @store_products %>
  <tr>
    <td><%= link_to store_product.title, store_product %></td>
    <td>
      <%=h store_product.capacity %>
      <%=h store_product.measuring_unit.abbr_name %>
    </td>
    <td><%=h store_product.producing_count %></td>
    <td><%=h number_to_cny(store_product.average_cost) %></td>
    <td><%=h number_to_cny(store_product.average_price) %></td>
    <td><%=h number_to_cny(store_product.average_profit) %></td>
    <td><%=h number_to_cny(store_product.total_profit) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store Product', new_store_product_path %>
