<p>
  <b>Title:</b>
  <%=h @store_product.title %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @store_product.capacity %>
  <%=h @store_product.measuring_unit.abbr_name %>
</p>

<p>
  <b>Price:</b>
  <%=h number_to_cny(@store_product.price) %>
</p>

<p>
  <b>Active:</b>
  <%=h boolean_to_yesno(@store_product.active) %>
</p>

<p>
  <b>Description:</b>
  <%=h @store_product.description %>
</p>


<%= link_to 'Edit', edit_store_product_path(@store_product) %> |
<%= link_to 'Back', store_products_path %>
