<% form_for(@sale_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer_id %><br />
    <%= f.collection_select :customer_id, @customers, :id, :name %>
  </p>
  <p>
    <%= f.label :saled_at %><br />
    <%= f.date_select :saled_at %>
  </p>
  <p>
    <%= f.label :postage %><br />
    <%= f.text_field :postage %>
  </p>

  Products<br />
  <div id="sale_order_items">
    <table>
      <tr>
        <th>Vendor</th>
        <th>Product</th>
        <th>Cost</th>
        <th>Price</th>
        <th>QTY</th>
      </tr>
<% for item in @sale_order.sale_order_items %>
  <% new_or_existing = item.new_record? ? 'new' : 'existing' %>
  <% prefix = "sale_order[#{new_or_existing}_sale_order_item_attributes][]" %>
  <% fields_for prefix, item do |sale_order_item_form| -%>
      <tr>
        <td>
          <%= sale_order_item_form.label :vendor,
                                         item.purchase_order_item.vendor_product.vendor.abbr_name %>
        </td>
        <td>
           <%= sale_order_item_form.label :title,
                                          item.purchase_order_item.vendor_product.title %>
           <%= sale_order_item_form.hidden_field :purchase_order_item_id %>
        </td>
        <td>
          <%= sale_order_item_form.text_field :unit_cost, :size => "6" %>￥
        </td>
        <td>
          <%= sale_order_item_form.text_field :unit_price, :size => "6" %>￥
        </td>
        <td>
          <%= sale_order_item_form.text_field :quantity,
              :size => "1" %>/<%=h item.purchase_order_item.avail_quantity %>
        </td>
      </tr>
  <% end %>
<% end %>
    </table>
  </div>

  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
