<h1>Listing sale_orders</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Sale date</th>
    <th>Postage</th>
    <th>Comments</th>
  </tr>

<% for sale_order in @sale_orders %>
  <tr>
    <td><%=h sale_order.customer_id %></td>
    <td><%=h sale_order.sale_date %></td>
    <td><%=h sale_order.postage %></td>
    <td><%=h sale_order.comments %></td>
    <td><%= link_to 'Show', sale_order %></td>
    <td><%= link_to 'Edit', edit_sale_order_path(sale_order) %></td>
    <td><%= link_to 'Destroy', sale_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sale_order', new_sale_order_path %>
