<p>
  <b>Customer:</b>
  <%=h @sale_order.customer_id %>
</p>

<p>
  <b>Sale date:</b>
  <%=h @sale_order.sale_date %>
</p>

<p>
  <b>Postage:</b>
  <%=h @sale_order.postage %>
</p>

<p>
  <b>Comments:</b>
  <%=h @sale_order.comments %>
</p>


<%= link_to 'Edit', edit_sale_order_path(@sale_order) %> |
<%= link_to 'Back', sale_orders_path %>
