<% form_for(@customer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code %>
  </p>
  <p>
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.label :mobilephone %><br />
    <%= f.text_field :mobilephone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :wangwang, '旺旺' %><br />
    <%= f.text_field :wangwang %>
  </p>
  <p>
    <%= f.label :qq, 'QQ' %><br />
    <%= f.text_field :qq %>
  </p>
  <p>
    <%= f.label :msn, 'MSN' %><br />
    <%= f.text_field :msn %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
