<h1>Listing Customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>旺旺</th>
    <th>Total Expense</th>
    <th></th>
  </tr>

<% for customer in @customers %>
  <tr>
    <td><%=h customer.name %></td>
    <td><%=h customer.wangwang %></td>
    <td><%=h number_to_cny(customer.total_expense) %></td>
    <td><%= link_to 'details...', customer %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New customer', new_customer_path %>
