<p>
  <b>Store product:</b>
  <%= link_to @store_product_item.store_product.title, @store_product_item.store_product %>
</p>
<p>
  <b>Produce Date:</b>
  <%=h @store_product_item.produced_at %>
</p>
<p>
  <b>Quantity:</b>
  <%=h @store_product_item.quantity %>
</p>
<p>
  <b>Unit Cost:</b>
  <%=h number_to_cny(@store_product_item.item_cost) %>
</p>
<p>
  <b>Total Cost:</b>
  <%=h number_to_cny(@store_product_item.total_cost) %>
</p>

<div class="store_product_item">
<fieldset>
  <legend>Materials</legend>
  <table>
    <tr>
      <th>Material Name</th>
      <th>Amount</th>
      <th colspan="2">Cost</th>
    </tr>
    <% for used_material in @store_product_item.used_material_items %>
    <tr>
      <td><%=h used_material.material_item.vendor_product.title %></td>
      <td>
        <%=h used_material.amount %>
        <%=h used_material.material_item.vendor_product.measuring_unit.abbr_name %>
      </td>
      <td><%=h number_to_cny(used_material.unit_cost) %></td>
      <td><%=h number_to_cny(used_material.total_cost) %></td>
    </tr>
    <% end %>
  </table>
</fieldset>

<p>
  <b>Comments</b><br />
  <%=h @store_product_item.comments %>
</p>

<br />

<b>Sale Log:</b>
<ul>
  <% @saled_store_product_items.each do |item| %>
    <li><%=h item.sale_order.customer.name %> bought
        <%=h item.quantity %> on
        <%=h item.sale_order.saled_at %> at
        <%=h number_to_cny(item.item_price) %>
     </li>
  <% end %>
</ul>

<br />

<%= link_to 'Edit', edit_store_product_item_path(@store_product_item) %> |
<%= link_to 'All Store Product Items', store_product_items_path %>
