<h1>Editing Vendor</h1>

<% form_for(@vendor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :full_name, "Vendor Name" %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :abbr_name, "Abbreviation" %><br />
    <%= f.text_field :abbr_name %>
  </p>
  <p>
    <%= f.label :currency_id %><br />
    <%= f.collection_select :currency_id, @currencies, :id, :full_name %>
  </p>
  <p>
    <%= f.check_box :active %><%= f.label :active, "The vendor is active" %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vendor %> |
<%= link_to 'Back', vendors_path %>
