<h1>Listing Vendors</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Full Name</th>
    <th>Abbr Name</th>
    <th>Currency</th>
    <th>Active</th>
    <th colspan=3>Operations</th>
  </tr>

<% for vendor in @vendors %>
  <tr>
    <td><%=h vendor.id %></td>
    <td><%=h vendor.full_name %></td>
    <td><%=h vendor.abbr_name %></td>
    <td><%=h vendor.currency.full_name %> (<%=h vendor.currency.symbol %>)</td>
    <td><%=h vendor.active? ? 'YES' : 'NO' %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vendor', new_vendor_path %>
