<h1>New vendor</h1>

<% form_for(@vendor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :abbr_name %><br />
    <%= f.text_field :abbr_name %>
  </p>
  <p>
    <%= f.label :currency_id %><br />
    <%= f.text_field :currency_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', vendors_path %>
