<p>
  <b>Vendor Name:</b>
  <%=h @vendor.full_name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%=h @vendor.abbr_name %>
</p>

<p>
  <b>Currency:</b>
  <%=h @vendor.currency.full_name %> (<%=h @vendor.currency.symbol %>)
</p>

<p>
  <b>Active:</b>
  <%=h @vendor.active? ? "YES" : "NO" %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
