<h1>Editing saled_store_product_item</h1>

<% form_for(@saled_store_product_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sale_order_id %><br />
    <%= f.text_field :sale_order_id %>
  </p>
  <p>
    <%= f.label :store_product_item_id %><br />
    <%= f.text_field :store_product_item_id %>
  </p>
  <p>
    <%= f.label :item_cost %><br />
    <%= f.text_field :item_cost %>
  </p>
  <p>
    <%= f.label :item_price %><br />
    <%= f.text_field :item_price %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @saled_store_product_item %> |
<%= link_to 'Back', saled_store_product_items_path %>
