<h1>Listing Saled Store Product Items</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Sale Date</th>
    <th>Product</th>
    <th>QTY</th>
    <th>Unit Cost</th>
    <th>Unit Price</th>
    <th>Total Price</th>
    <th>Total Profit</th>
    <th></th>
  </tr>

<% for item in @saled_store_product_items %>
  <tr>
    <td><%= link_to item.sale_order.customer.name, item.sale_order.customer %></td>
    <td><%= link_to item.sale_order.saled_at, item.sale_order %></td>
    <td><%= link_to item.store_product_item.store_product.title, item.store_product_item %></td>
    <td><%=h item.quantity %></td>
    <td><%=h number_to_cny(item.item_cost) %></td>
    <td><%=h number_to_cny(item.item_price) %></td>
    <td><%=h number_to_cny(item.total_price) %></td>
    <td><%=h number_to_cny(item.total_profit) %></td>
    <td><%= link_to 'details...', item %></td>
  </tr>
<% end %>
</table>
