<h1>Listing saled_store_product_items</h1>

<table>
  <tr>
    <th>Sale order</th>
    <th>Store product item</th>
    <th>Item price</th>
    <th>Quantity</th>
  </tr>

<% for saled_store_product_item in @saled_store_product_items %>
  <tr>
    <td><%=h saled_store_product_item.sale_order_id %></td>
    <td><%=h saled_store_product_item.store_product_item_id %></td>
    <td><%=h saled_store_product_item.item_price %></td>
    <td><%=h saled_store_product_item.quantity %></td>
    <td><%= link_to 'Show', saled_store_product_item %></td>
    <td><%= link_to 'Edit', edit_saled_store_product_item_path(saled_store_product_item) %></td>
    <td><%= link_to 'Destroy', saled_store_product_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New saled_store_product_item', new_saled_store_product_item_path %>
