<h1>Editing material_items</h1>

<% form_for(@material_items) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :purchase_order_id %><br />
    <%= f.text_field :purchase_order_id %>
  </p>
  <p>
    <%= f.label :vendor_product_id %><br />
    <%= f.text_field :vendor_product_id %>
  </p>
  <p>
    <%= f.label :item_price %><br />
    <%= f.text_field :item_price %>
  </p>
  <p>
    <%= f.label :item_cost %><br />
    <%= f.text_field :item_cost %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :usedup %><br />
    <%= f.check_box :usedup %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @material_items %> |
<%= link_to 'Back', material_items_path %>
