<p>
  <b>Purchase order:</b>
  <%=h @material_items.purchase_order_id %>
</p>

<p>
  <b>Vendor product:</b>
  <%=h @material_items.vendor_product_id %>
</p>

<p>
  <b>Item price:</b>
  <%=h @material_items.item_price %>
</p>

<p>
  <b>Item cost:</b>
  <%=h @material_items.item_cost %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @material_items.quantity %>
</p>

<p>
  <b>Usedup:</b>
  <%=h @material_items.usedup %>
</p>


<%= link_to 'Edit', edit_material_items_path(@material_items) %> |
<%= link_to 'Back', material_items_path %>
