<h1>Materials</h1>

<table>
  <tr>
    <th>Vendor</th>
    <th>Purchase Date</th>
    <th>Product</th>
    <th>QTY</th>
    <th>Price</th>
    <th>Cost</th>
    <th>Unit Cost</th>
    <th>Usage</th>
    <th>Used Up?</th>
    <th></th>
  </tr>
<% for item in @material_items %>
  <tr>
    <td><%=h item.vendor_product.vendor.abbr_name %></td>
    <td><%= link_to item.purchase_order.purchased_at, item.purchase_order %></td>
    <td><%= link_to item.vendor_product.title, item.vendor_product %></td>
    <td><%=h item.quantity %></td>
    <td><%=h number_to_currency(item.item_price,
                                :unit => item.vendor_product.vendor.currency.symbol)%></td>
    <td><%=h number_to_cny(item.item_cost) %></td>
    <td><%=h number_to_cny(item.unit_cost) %>/<%= item.vendor_product.measuring_unit.abbr_name %>
    </td>
    <td>
      <%=h item.total_used_material_amount %>/<%=h item.total_material_amount %>
      <%=h item.vendor_product.measuring_unit.abbr_name %>
    </td>
    <td><%=h boolean_to_yesno(item.usedup) %></td>
    <td><%= link_to 'details...', item %></td>
  </tr>
<% end %>
</table>
