<h1>New Materials</h1>

<% form_for 'item[]', :url => { :action => 'create' } do |f| %>
<table>
  <tr>
    <th>Vendor</th>
    <th>Product</th>
    <th>Price</th>
    <th>Cost</th>
    <th>QTY</th>
  </tr>
<% for @item in @material_items.keys %>
  <tr>
    <%= f.hidden_field :purchase_order_id %>
    <%= f.hidden_field :vendor_product_id %>
    <%= f.hidden_field :item_price %>
    <%= f.hidden_field :item_cost %>
    <%= hidden_field_tag 'item[][purchase_order_item_id]', @material_items[@item].id %>
    <td>
      <%= label_tag :vendor,
          @item.vendor_product.vendor.abbr_name %>
    </td>
    <td>
      <%= label_tag :product,
          @item.vendor_product.title %>
    </td>
    <td><%= number_to_currency(@item.item_price,
                               :unit => @item.vendor_product.vendor.currency.symbol) %>
    </td>
    <td><%= number_to_cny(@item.item_cost) %></td>
    <td>
      <%= f.text_field :quantity,
          :size => "1" %>/<%= @material_items[@item].avail_quantity %>
    </td>
  </tr>
<% end %>
</table>
<p>
  <%= submit_tag "Submit" %>
</p>
<% end %>
