<h1>Products on Store</h1>


<% form_tag :action => "new" do %>

<table>
  <tr>
    <th></th>
    <th>Vendor</th>
    <th>Purchased Date</th>
    <th>Product</th>
    <th>Item Cost</th>
    <th>Unit Cost</th>
    <th>#AVL</th>
  </tr>

<% for item in @items %>

  <tr>
    <td><%= check_box_tag "material_items[#{item.id}]" %></td>
    <td><%=h item.vendor_product.vendor.abbr_name %></td>
    <td><%= link_to item.purchase_order.purchased_at, item.purchase_order %></td>
    <td><%= link_to item.vendor_product.title, item.vendor_product %></td>
    <td><%=h number_to_cny(item.unit_cost) %></td>
    <td><%=h number_to_cny(item.unit_cost / item.vendor_product.material_amount)
           %>/<%=h item.vendor_product.measuring_unit.abbr_name %>
    </td>
    <td>
      <%=h number_to_quantity(item.avail_quantity) %><span class="remark">/<%=h number_to_quantity(item.quantity) %></span>
    </td>
  </tr>

<% end %>

</table>

<br />

<%= submit_tag "Use checked as Materials" %>

<% end %>
