<h1>Purchase Vendor Products</h1>

<% for vendor in @vendors %>

<h2><%= vendor.full_name %></h2>
<% form_tag :action => "new", :controller => "purchase_orders" do %>
<%= hidden_field_tag :vendor_id, vendor.id %>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Purchased</th>
    <th>Saled</th>
    <th>Using</th>
    <th>Left</th>
  </tr>

<% for vendor_product in vendor.vendor_products %>

  <tr>
    <td><%= check_box_tag "vendor_products[#{vendor_product.id}]" %></td>
    <td><%= link_to vendor_product.title, vendor_product %></td>
    <td><%=h vendor_product.purchased_count %></td>
    <td><%=h vendor_product.saled_count %></td>
    <td><%=h vendor_product.using_count %></td>
    <td><%=h vendor_product.left_count %></td>
  </tr>

<% end %>
<% end %>

</table>

<br />

<%= submit_tag "Generate #{vendor.abbr_name} Order" %>

<br /><br />

<% end %>

<br />
