<h1>Purchase Vendor Products</h1>

<% for vendor in @vendors %>

<h2><%= vendor.full_name %></h2>
<% form_tag :action => "new", :controller => "purchase_orders" do %>
<%= hidden_field_tag :vendor_id, vendor.id %>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Price</th>
  </tr>

<% for vendor_product in vendor.vendor_products %>

  <tr>
    <td><%= check_box_tag "vendor_products[#{vendor_product.id}]" %></td>
    <td><%=h vendor_product.title %></td>
    <td><%=h number_to_currency(vendor_product.price,
                                :unit =>vendor_product.vendor.currency.symbol) %>
    </td>
  </tr>

<% end %>
<% end %>

</table>

<br />

<%= submit_tag "Generate #{vendor.abbr_name} Order" %>

<br /><br />

<% end %>

<br />
