<h1>Purchase History</h1>

<table>
  <tr>
    <th>Purchase Date</th>
    <th>Vendor</th>
    <th>Total Price</th>
    <th>Postage</th>
    <th>Total Cost</th>
    <th></th>
  </tr>

<% for purchase_order in @purchase_orders %>
  <tr>
    <td><%=h purchase_order.purchased_at %></td>
    <td><%=h purchase_order.vendor.full_name %></td>
    <td class="item-price">
      <%=h number_to_currency(purchase_order.total_price,
                              :unit => purchase_order.vendor.currency.symbol) %>
    </td>
    <td class="item-price">
      <%=h number_to_currency(purchase_order.postage,
                              :unit => purchase_order.vendor.currency.symbol) %>
      <span class="remark">(<%=h number_to_percentage(
                                   purchase_order.postage_percentage * 100.0,
                                   :precision => 0) %>)</span>
    </td>
    <td class="item-price">
      <%=h number_to_currency(purchase_order.total_cost,
                              :unit => "￥") %>
      <span class="remark">
        (<%=h "%.2f" % purchase_order.cost_price_rate %>)
      </span>
    </td>
    <td><%= link_to 'details...', purchase_order %></td>
  </tr>
<% end %>
</table>
